ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* links */
a { 
	text-decoration: none;
	color: #000;
	font-family: 'Poppins', sans-serif; 
}

a:visited { 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

#projects {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	/*background: orange;*/
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
}

h1 {
	text-align: center;
	margin: 0;
	/* background-color: lightblue;*/
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
}

.selected {
	text-decoration: underline;
}

nav li {
	display: inline;
	/* background-color: lightgreen;*/
}

nav {
	text-align: center;
	/* background-color: lightpink;*/
	padding-bottom: 10px;
}

img {
	
	height: 30%;
	width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100%;
  padding: 10px;
}

section {
	/* background-color: lightyellow;*/
}

p, h3 {
	padding-right: 5%;
	padding-left: 5%;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
	line-height: 1.25em;
}

hr { 
	width:100%; 
	height:1px; 
	background: #aaa; 
	border: none;
	margin: 0;
	text-align: left;
}

.blue {
	color: royalblue;
}

.projects ul li {
	display: inline;
}

.underline {
	text-decoration: underline;
}







